<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond ${SCRIPT_FILENAME} !-d
    RewriteCond ${SCRIPT_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/public/assets/ [NC]
    RewriteRule ^(.*)$ public/index.php?params=$1 [L,QSA]
</IfModule>