{% extends '/layout/app.twig' %}

{% block title %}
    Binsta | Edit
{% endblock %}

{% block content %}
    {% for profileItem in profile %}
        <div class="flex w-full justify-center">
            <div class="w-1/2 flex flex-col items-center bg-white shadow-xl my-10 rounded-xl">
                <div class="flex bg-blue-500 w-full text-white justify-center rounded-tr-xl rounded-tl-xl">
                    <h1 class="text-3xl w-3/4 font-bold py-5">Edit Profile</h1>
                </div>
                <form action="#" method="post" class="flex flex-col w-3/4 justify-center pt-10 items-start" enctype="multipart/form-data">
                    <div class="relative my-5 inline-block flex">
                        <img id="profile-picture" class="h-36 w-36 object-cover rounded-full" src="/public/assets/imgs{{ profileImg }}" alt="picture">
                        <label for="pfp-upload" class="absolute bottom-0 right-0 bg-black bg-opacity-60 text-white p-2 cursor-pointer rounded-full hover:bg-opacity-80 transition duration-300">
                            <span class="sr-only">Upload Post Picture</span>
                            <i class="fa fa-camera h-5 w-5 text-center"></i>
                            <input id="pfp-upload" name="pfp-upload" type="file" accept="image/*" onchange="displayProfilePicture(event)" class="hidden">
                        </label>
                    </div>
                    <div class="flex flex-col w-full items-center">
                        <label for="username" class="block w-full text-2xl">Edit username:</label>
                        <input type="text" name="username" id="username" value="{{ profileItem.username }}" class="border-gray-600 ps-3 py-2 w-full border rounded">
                    </div>
                    <div class="w-full flex-col flex items-center mt-3">
                        <label for="currentpassword" class="block w-full text-2xl">Current password:</label>
                        <input type="password" name="currentpassword" id="currentpassword" class="border-gray-600 ps-3 py-2 w-full border rounded">
                    </div>
                    <div class="w-full flex-col flex items-center mt-3">
                        <label for="newpassword" class="block w-full text-2xl">New password:</label>
                        <input type="password" name="newpassword" id="newpassword" class="border-gray-600 ps-3 py-2 w-full border rounded">
                    </div>
                    <div class="w-full flex-col flex items-center mt-3">
                        <label for="repeatpassword" class="block w-full text-2xl">Repeat password:</label>
                        <input type="password" name="repeatpassword" id="repeatpassword" class="border-gray-600 ps-3 py-2 w-full border rounded">
                    </div>
                    <div class="w-full flex items-center mt-3">
                        <input type="submit" value="Edit" class="bg-green-600 hover:bg-green-700 rounded cursor-pointer font-bold text-2xl w-full text-white py-2">
                    </div>
                </form>
                {% if error == 'emptyusn' %}
                    <div class="bg-red-300 rounded w-3/4 mt-3 py-3 text-center font-bold text-red-600">
                        <p>Please fill in a username!</p>
                    </div>
                {% elseif error == 'usernotfound'%}
                    <div class="bg-red-300 rounded w-3/4 mt-3 py-3 text-center font-bold text-red-600">
                        <p>That user does not exist!</p>
                    </div>
                {% elseif error == 'emptypwd'%}
                    <div class="bg-red-300 rounded w-3/4 mt-3 py-3 text-center font-bold text-red-600">
                        <p>Please fill in a password!</p>
                    </div>
                {% elseif error == 'wrongpwd'%}
                    <div class="bg-red-300 rounded w-3/4 mt-3 py-3 text-center font-bold text-red-600">
                        <p>Wrong password, please try again!</p>
                    </div>
                {% endif %}
                <div class="flex w-full justify-end p-2 pe-5">
                    <p class="pe-1">If you don't have an account</p><a href="/user/signup" class="text-blue-500 underline">Signup here!</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}